// #USES

@use '../../../../static/variables' as *;
@use '../styles/flex' as *;
@use '../styles/position' as *;
@use '../styles/size' as *;
@use '../styles/font' as *;
@use '../styles/cursor' as *;
@use '../styles/media' as *;

// #CONSOLE

.line
{
    @include f-a-center;

    min-width: 100%;

    padding-inline: 10px;

    box-sizing: border-box;

    &, .mirror { @include flex; }

    .line-indicator
    {
        @include f-content;
    
        width: 30px;

        color: $secondary;
        font-size: 22px;
        font-weight: 900;
        user-select: none;
    }

    .line-content,
    .mirror
    {
        padding: 8px;

        box-sizing: border-box
    }

    .line-content
    {
        @include relative;
        @include any-w;

        overflow: hidden;

        min-width: max-content;
        height: 34px;

        white-space: nowrap;

        cursor: text;

        pre { display: inline; }

        @include media-min(425px) { height: 44px; }
    }

    input,
    .mirror,
    .console-success,
    .console-error,
    .console-result
    {
        @include any;
        @include p-content;
    }

    input
    {
        background-color: transparent;

        border: none;
        outline: none;

        color: transparent;

        caret-color: $primary;
    }

    .mirror,
    .console-result
    {
        @include no-event;

        color: $light;
    }

    .mirror
    {
        @include xy-start(true);

        z-index: -1;

        background-color: $dark;

        white-space: nowrap;

        pre
        {
            @include any-h;
    
            font-family: inherit;
        }

        .app-context { color: $primary !important; }

        .func-context { color: $secondary !important; }
    }

    .console-error { color: $indicator; }
    .console-success { color: $primary; }

    @include media-min(1440px) { padding-left: 30px; }
}