// #USES

@use '../styles/flex' as *;
@use '../styles/position' as *;
@use '../styles/size' as *;
@use '../styles/media' as *;

// #MAIN

main
{
    will-change: scroll-position;

    &>div:nth-child(1)
    {
        .wrapper
        {
            @include flex;
            @include any;

            flex-wrap: wrap;

            &>* { flex-shrink: 0; }

            @include media-min(768px)
            {
                @include sticky;

                width: 300vw;
                height: 100vh;
            }
        }
    }

    &
    >div:nth-child(2) .wrapper { @include any-h; } 
}