/* #BACKGROUND */

/* #USE */

@use '../../../../static/variables.scss' as *;

@use './position.scss' as *;
@use './size.scss' as *;
@use './cursor.scss' as *;

/* #MIXIN */

@mixin glitch($repeat: true, $radial: false)
{
    @if $repeat
    {
        @if $radial
        {
            background: url('./src/assets/images/glitch_1920.jpg') left / auto repeat, radial-gradient(circle, $radial);
        }
        @else
        {
            background: url('./src/assets/images/glitch_1920.jpg') left / auto repeat;
        }
    }
    @else
    {
        @if $radial
        {
            background: url('./src/assets/images/glitch_1920.jpg') center / cover no-repeat, radial-gradient(circle, $radial);
        }
        @else
        {
            background: url('./src/assets/images/glitch_1920.jpg') center / cover no-repeat;
        }
    }

    background-color: $s-dark;
    background-blend-mode: overlay;
}

@mixin glow
{
    &::after
    {
        @include xy-start(true);
        @include any-h;
        @include no-event;

        content: '';

        will-change: contents; /* glow peut générer des glitch indésirable avec la position sticky et l'animation 'scan' */

        opacity: var(--effect);

        width: 200%;

        background:
        radial-gradient(circle, $primary 0%, transparent 40%) left / 25% 100% repeat,
        linear-gradient(0deg, transparent 0, $secondary 20%, transparent 50%, $secondary 80%, transparent 100%);
        mix-blend-mode: color-dodge;

        animation: scan linear infinite 20s;

        @media (prefers-reduced-motion: reduce) { animation: none;  }
    }
}

@mixin black-glass($filter: false)
{
    background-color: rgba($dark, .5);

    @if $filter { backdrop-filter: $filter; }
}

@mixin neon
{
    &::after
    {
        @include xy-start(true);
        @include any-h;
        @include no-event;

        content: '';

        will-change: contents; /* neon peut générer des glitch indésirable avec la position sticky et l'animation 'scan' */

        opacity: var(--effect);

        width: 200%;

        background:
        linear-gradient(0deg, transparent 0, rgba($primary, .2) 1%, transparent 80%),
        linear-gradient(0deg, transparent 0, $secondary 30%, transparent 90%),
        linear-gradient(0deg, transparent 0, rgba($light, .1) 40%, transparent 100%);

        animation: scan linear infinite 20s;

        @media (prefers-reduced-motion: reduce) { animation: none;  }
    }
}

/* #ANIMATION */

@keyframes scan
{
    0% { transform: translateX(-50%) scaleY(.4); }
    25% { transform: translateX(-37.5%) scaleY(1); }
    50% { transform: translateX(-25%) scaleY(.4); }
    75% { transform: translateX(-12.5%) scaleY(1); }
    100% { transform: translateX(0%) scaleY(.4); }    
}