/* #USE */

@use '../../../../static/variables.scss' as *;

/* #FONT */

@mixin font-primary { font-family: 'Montserrat'; }
@mixin font-secondary { font-family: 'Cremona'; }
@mixin font-command {  font-family: 'AnonymousPro'; }

@mixin title($color, $size, $height)
{
    @include font-primary;

    color: $color;
    font-size: $size;
    font-weight: 900;
    line-height: $height;
    user-select: none;
}

@mixin title-1($color: $light)
{
    @include title($color, 86px, 60px);

    letter-spacing: -3px;
}

@mixin title-2($color: $light)
{
    @include title($color, 80px, 70px);

    text-align: center;
}

@mixin title-3($color: $light)
{
    @include title($color, 40px, 40px);
}

@mixin title-4($color: $light)
{
    @include title($color, 28px, 28px);
}

@mixin text-info($color: $s-light)
{
    @include font-secondary;

    color: $color;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    user-select: none;
}

@mixin text-command
{
    @include font-command;

    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
}

@mixin link
{
    @include font-secondary;

    color: $secondary;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    user-select: none;
}