/* #FONT */

@mixin font-primary { font-family: 'Montserrat'; }
@mixin font-secondary { font-family: 'Cremona'; }
@mixin font-command {  font-family: 'AnonymousPro'; }

@mixin title-3($color: $light)
{
    @include font-primary;

    color: $color;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    user-select: none;
}

@mixin title-4($color: $light)
{
    @include font-primary;

    color: $color;
    font-size: 28px;
    font-weight: 900;
    line-height: 28px;
    user-select: none;
}

@mixin text-info($color: $s-light)
{
    @include font-secondary;

    color: $color;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    user-select: none;
}

@mixin text-command
{
    @include font-command;

    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
}

@mixin link
{
    @include font-secondary;

    color: $secondary;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    user-select: none;
}