// #USES

@use 'sass:list';

@use '../../../../static/variables' as *;

@use './media' as *;

// #VARIABLE

$h-1-sizes: (375px: 44px, 768px: 60px, 1024px: 72px, 1440px: 86px);

// #FONT

@mixin f-title { font-family: 'Montserrat'; }
@mixin f-interact { font-family: 'Cremona'; }
@mixin f-content { font-family: 'AnonymousPro'; }

@mixin h-($color, $size, $height)
{
    @include f-title;

    color: $color;

    @if $size { font-size: $size; }

    font-weight: 900;
    line-height: $height;
    user-select: none;
}

@mixin h-1($color: $light)
{
    @include h-($color, 36px, .7);

    letter-spacing: -3px;

    @include media-min-map(font-size, $h-1-sizes);
    @include media-min(1024px) { letter-spacing: 0; }
}

@mixin h-2($color: $light)
{
    @include h-($color, 36px, 36px);
}

@mixin h-3($color: $light)
{
    @include h-($color, 24px, 24px);
}

@mixin h-4($color: $light)
{
    // @include h($color, 24px, 24px);
}

@mixin p-interact($color: $s-light)
{
    @include f-interact;

    color: $color;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    user-select: none;

    // @include media-min(425px) { font-size: 18px };
}

@mixin a-interact
{
    @include f-interact;

    color: $secondary;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    user-select: none;

    @include media-min(1024px) { font-size: 24px; }
}

@mixin p-content
{
    @include f-content;

    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
}


